{% extends 'arrowpad/masterpage.html' %}
{% load static %}
{% load dict %}

{% block content %}
    <!-- Start Main Banner Area -->
    <div class="home-slides owl-carousel owl-theme">
        {% for banner in banners %}
            <div class="single-banner-item jarallax" data-jarallax='{"speed": 0.3}' style="background-image: url(/media/{{banner.backgroundImage}})">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="main-banner-content text-center">
                                <h2 style="color: {{banner.color}};"> {{banner.title}} </h2>
                                {% if banner.rightImage %}
                                    <div class="logo">
                                        <img src="/media/{{banner.rightImage}}" alt="image">
                                    </div>
                                {% endif %}
                                {% if banner.btnText %}
                                    <div class="btn-box">
                                        <a href="{{banner.btnUrl}}" class="default-btn"> {{banner.btnText}} </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-12">
                            <div class="main-banner-image">
                                <img src="/media/{{banner.leftImage}}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        
    </div>
    <!-- End Main Banner Area -->

    <!-- Start Top Team Area -->
    <section class="top-team-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">گیمر</span>
                <h2>تیم رتبه بندی برتر</h2>
            </div>

            <div class="top-team-slides owl-carousel owl-theme">
                {% for category in categories %}
                    <div class="single-top-team-box">
                        <!-- <div class="bg-image">
                            <img src="{% static 'arrowpad/img/top-team-bg.png' %}" alt="image">
                        </div> -->

                        <div class="d-flex flex-column category">
                            <a href="{{category.url}}"><img src="/media/{{category.vector}}" alt="وکتور {{category.title}}"></a>
                            <h3 class="mt-3"><a href="{{category.url}}"> {{category.title}} </a></h3>
                            {% if category.youtubePlaylist != null %}
                                <a href="{{category.youtubePlaylist}}" target="_blank"><i class='bx bxl-youtube'></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                

            </div>
        </div>
    </section>
    <!-- End Top Team Area -->

    <!-- Start Live Stream Area -->
    <section class="live-stream-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="section-title">
                <span class="sub-title"> وبلاگ </span>
                <h2> اخرین وبلاگ ها </h2>
            </div>

            <div class="live-stream-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for category in categories %}
                        <li class="nav-item " role="presentation"><a class="nav-link {% if forloop.first %}active{% endif %}" id="{{category.en_name}}-tab" data-toggle="tab" href="#{{category.en_name}}" role="tab" aria-controls="{{category.en_name}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"> {{category.title}} </a></li>
                    {% endfor %}
                    
                </ul>
                
                <div class="tab-content" id="myTabContent">
                    {% for category in categories %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ category.en_name }}" role="tabpanel">
                            <div class="row">
                                {% for blog in blogs_by_category|get_item:category %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-live-stream-box">
                                            <img src="/media/{{ blog.poster }}" alt="image">
                                            <div class="content">
                                                {% if blog.hasVideo %}
                                                    <i class='bx bxl-youtube'></i>
                                                {% endif %}
                                                {% if blog.hasVideo == False %}
                                                    <i class='bx bxl-blogger' ></i>
                                                {% endif %}
                                                <h3> {{ blog.title }} </h3>
                                                    
                                            </div>
                                            <a href="{% url category.en_name|add:'_detailes' blog.url %}" class="link-btn"></a>
                                        </div>
                                    </div>
                                {% empty %}
                                <div class="tab-pane-empty">
                                    <span> مقاله ای برای {{category.title}} منتشر نشده است </span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- End Live Stream Area -->
{% endblock content %}




{% block meta_title %}
    اروپد | Arrowpad
{% endblock meta_title %}

{% block meta_keyword %} arrowpad, اروپد - سفری به دنیای گیم به سبک ما {% endblock meta_keyword %}

{% block meta_tag %}{% endblock meta_tag %}

{% block meta_description %} اروپد | سفری به دنیای گیم به سبک ما {% endblock meta_description %}
{% block meta_author %} arrowpad {% endblock meta_author %}

{% block links %}

{% endblock links %}

{% block scripts %}

{% endblock scripts %}
        