{% load static %}
<!doctype html>
<html lang="fa">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Zelda - eSports & Gaming Template" >
        <meta name="description" content="Zelda - eSports & Gaming Template">
        <meta name="author" content="Barat Hadian">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'arrowpad/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/boxicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/meanmenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/rtl.css' %}">

        <title>Zelda - قالب HTML زلدا , پوسته سایت سرگرمی بازی و مسابقات الکترونیکی</title>

        <link rel="icon" type="image/png" href="{% static 'arrowpad/img/favicon.png' %}">
    </head>

    <body>

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-style-two">

            <div class="zelda-responsive-nav">
                <div class="container">
                    <div class="zelda-responsive-menu">
                        <div class="logo">
                            <a href="index-2.html">
                                <img src="{% static 'arrowpad/img/logo.png' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="zelda-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index-2.html">
                            <img src="{% static 'arrowpad/img/logo.png' %}" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="contact.html" class="nav-link"> خانه </a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link"> برفک </a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link"> اروگپ </a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link"> سولزشناسی </a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link"> کیوسک </a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link">می ارزه</a></li>
                                <li class="nav-item"><a href="contact.html" class="nav-link">بی صدا ها</a></li>
                            </ul>

                            <div class="others-option d-flex align-items-center">
                                

                                <div class="option-item">
                                    <div class="search-box">
                                        <i class="flaticon-search-1"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option">
                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#">
                                            <i class="flaticon-null-5"></i>
                                            <span>1</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="search-box">
                                        <i class="flaticon-search-1"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Sidebar Modal -->
        <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class='bx bx-x'></i></button>

                    <div class="modal-body">
                        <div class="logo">
                            <a href="index.html" class="d-inline-block"><img src="{% static 'arrowpad/img/logo.png' %}" alt="image"></a>
                        </div>

                        <div class="instagram-list">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member1.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member2.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member3.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member4.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member5.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member6.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar-contact-info">
                            <h2>
                                <a href="tel:021-12345678">021-12345678</a>
                                <span>یا</span>
                                <a href="mailto:hello@zelda.com">hello@zelda.com</a>
                            </h2>
                        </div>

                        <ul class="social-list">
                            <li><span>ما را دنبال کنید:</span></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitch'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="جستجو ...">
                            <button type="submit"><i class="flaticon-search-1"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Start Main Banner Area -->
        <div class="main-banner jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="main-banner-content">
                    <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">از بازی لذت ببرید</span>
                    <div class="logo wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                        <img src="{% static 'arrowpad/img/zelda.png' %}" alt="image">
                    </div>
                    <h6 class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1000ms">اکنون موجود است</h6>
                    <div class="btn-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                        <a href="#" class="default-btn">خرید کنید</a>
                        <a href="contact.html" class="optional-btn">آزمایش مجانی</a>
                    </div>
                </div>

                <div class="banner-video-slides owl-carousel owl-theme">
                    <div class="banner-video-box">
                        <img src="{% static 'arrowpad/img/main-banner-video-img1.jpg' %}" alt="image">

                        <div class="content">
                            <a href="https://www.youtube.com/watch?v=Y5KCDWi7h9o" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
                            <span class="title">تریلر رسمی 1</span>
                        </div>
                    </div>

                    <div class="banner-video-box">
                        <img src="{% static 'arrowpad/img/main-banner-video-img2.jpg' %}" alt="image">

                        <div class="content">
                            <a href="https://www.youtube.com/watch?v=Y5KCDWi7h9o" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
                            <span class="title">تریلر رسمی 2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Banner Area -->

        <!-- Start Matches Area -->
        <section class="matches-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">مسابقات</span>
                    <h2>مسابقات استادان افراطی نبردها</h2>
                </div>

                <div class="single-matches-box">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team">
                                <img src="{% static 'arrowpad/img/team1.png' %}" class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">خشن</a></h3>
                                    <ul class="watch-list">
                                        <li><span>مشاهده</span></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="matches-result">
                                <ul>
                                    <li>9</li>
                                    <li>14</li>
                                </ul>
                                <span class="date-time">20 دی 1398 ، ساعت 23:00</span>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team right-image">
                                <img src="{% static 'arrowpad/img/team2.png' %}" class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">شیاطین</a></h3>
                                    <ul class="watch-list">
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                        <li><span>مشاهده</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-matches-box">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team">
                                <img src="{% static 'arrowpad/img/team3.png' %}" class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">جمجمه زدن</a></h3>
                                    <ul class="watch-list">
                                        <li><span>مشاهده</span></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="matches-result">
                                <ul>
                                    <li>10</li>
                                    <li>8</li>
                                </ul>
                                <span class="date-time">20 دی 1398 ، ساعت 23:00</span>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team right-image">
                                <img src="{% static 'arrowpad/img/team4.png' %}" class="wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">نگهبان</a></h3>
                                    <ul class="watch-list">
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                        <li><span>مشاهده</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-matches-box">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team">
                                <img src="{% static 'arrowpad/img/team5.png' %}" class="wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">روور</a></h3>
                                    <ul class="watch-list">
                                        <li><span>مشاهده</span></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="matches-result">
                                <ul>
                                    <li>10</li>
                                    <li>10</li>
                                </ul>
                                <span class="date-time">20 دی 1398 ، ساعت 23:00</span>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team right-image">
                                <img src="{% static 'arrowpad/img/team6.png' %}" class="wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">گلئوپسیس</a></h3>
                                    <ul class="watch-list">
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                        <li><span>مشاهده</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-matches-box">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team">
                                <img src="{% static 'arrowpad/img/team7.png' %}" class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">سرباز</a></h3>
                                    <ul class="watch-list">
                                        <li><span>مشاهده</span></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-12">
                            <div class="matches-result">
                                <ul>
                                    <li>14</li>
                                    <li>15</li>
                                </ul>
                                <span class="date-time">20 دی 1398 ، ساعت 23:00</span>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="matches-team right-image">
                                <img src="{% static 'arrowpad/img/team8.png' %}" class="wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms" alt="image">

                                <div class="content">
                                    <h3><a href="single-team.html">روزگون</a></h3>
                                    <ul class="watch-list">
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در یوتیوب"><i class='bx bxl-youtube'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در تویچ"><i class='bx bxl-twitch'></i></a></li>
                                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="مشاهده در ویمئو"><i class='bx bxl-vimeo'></i></a></li>
                                        <li><span>مشاهده</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shape1"><img src="{% static 'arrowpad/img/shape1.png' %}" class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image"></div>
            <div class="shape2"><img src="{% static 'arrowpad/img/shape2.png' %}" class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image"></div>
            <div class="shape3"><img src="{% static 'arrowpad/img/shape3.png' %}" class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image"></div>
            <div class="shape4"><img src="{% static 'arrowpad/img/shape4.png' %}" class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms" alt="image"></div>
        </section>
        <!-- Start Matches Area -->

        <!-- Start Blog Area -->
        <section class="blog-area pb-100">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">وبلاگ</span>
                    <h2>اخبار و بروزرسانی ها</h2>
                </div>
            </div>

            <div class="container-fluid">
                <div class="blog-slides owl-carousel owl-theme">
                    <div class="single-blog-post-item">
                        <div class="row m-0">
                            <div class="col-lg-6 p-0">
                                <div class="post-image bg-1">
                                    <img src="{% static 'arrowpad/img/blog-img1.jpg' %}" alt="image">

                                    <a href="single-blog-1.html" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-6 p-0">
                                <div class="post-content">
                                    <span class="sub-title">یادداشت انتشار</span>
                                    <h3><a href="single-blog-1.html">ابزار اندروید بازی موبایل</a></h3>
                                    <a href="single-blog-1.html" class="default-btn">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-blog-post-item">
                        <div class="row m-0">
                            <div class="col-lg-6 p-0">
                                <div class="post-image bg-2">
                                    <img src="{% static 'arrowpad/img/blog-img2.jpg' %}" alt="image">

                                    <a href="single-blog-1.html" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-6 p-0">
                                <div class="post-content">
                                    <span class="sub-title">یادداشت انتشار</span>
                                    <h3><a href="single-blog-1.html">نرخ تبدیل به کانال فروش</a></h3>
                                    <a href="single-blog-1.html" class="default-btn">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-blog-post-item">
                        <div class="row m-0">
                            <div class="col-lg-6 p-0">
                                <div class="post-image bg-3">
                                    <img src="{% static 'arrowpad/img/blog-img3.jpg' %}" alt="image">

                                    <a href="single-blog-1.html" class="link-btn"></a>
                                </div>
                            </div>

                            <div class="col-lg-6 p-0">
                                <div class="post-content">
                                    <span class="sub-title">یادداشت انتشار</span>
                                    <h3><a href="single-blog-1.html">چگونه می توان بازی کرد</a></h3>
                                    <a href="single-blog-1.html" class="default-btn">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->

        <!-- Start Awards Area -->
        <section class="awards-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="awards-image">
                            <img src="{% static 'arrowpad/img/ninja.png' %}" alt="image">

                            <div class="shape">
                                <img src="{% static 'arrowpad/img/circle-shape.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-12">
                        <div class="awards-content">
                            <span class="sub-title">جوایز</span>
                            <h2>بازی سال</h2>

                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-4 col-md-3 col-4">
                                    <div class="image">
                                        <img src="{% static 'arrowpad/img/awards1.png' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-3 col-4">
                                    <div class="image">
                                        <img src="{% static 'arrowpad/img/awards2.png' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-3 col-4">
                                    <div class="image">
                                        <img src="{% static 'arrowpad/img/awards3.png' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-3 col-4">
                                    <div class="image">
                                        <img src="{% static 'arrowpad/img/awards4.png' %}" alt="image">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-3 col-4">
                                    <div class="image">
                                        <img src="{% static 'arrowpad/img/awards5.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>

                            <div class="shape">
                                <img src="{% static 'arrowpad/img/awards-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/awards-shape2.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Awards Area -->

        <!-- Start Team Area -->
        <section class="team-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title">
                            <span class="sub-title">اعضای تیم</span>
                            <h2>با تیم ما دیدار کنید "جونیور زلدا"</h2>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member1.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member2.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member3.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member4.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member5.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member6.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member6.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-team-member">
                            <img src="{% static 'arrowpad/img/team-member6.jpg' %}" alt="image">

                            <div class="content">
                                <h3>سارا تیلور</h3>
                                <span>گیمر حرفه ای</span>
                            </div>

                            <a href="single-player.html" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 pr-5">
                        <div class="section-title">
                            <span class="sub-title">اعضای تیم</span>
                            <h2>با تیم ما دیدار کنید "جونیور زلدا"</h2>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Products Area -->
        <!-- <section class="products-area pb-70">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">فروشگاه</span>
                    <h2>محصولات بازی ما</h2>
                </div>

                <div class="row" style="height: 40%; background-color: purple;">
                    
                    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: black;">
                        <div class="col-12" style="height: 30%; background-color: blue; font-size: 60px;">
                            <i class="bx bxl-youtube"></i>
                        </div>
                        <div class="col-12" style="height: 70%; background-color: red;">
asdasdasd
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: black;">
                        <div class="col-12" style="height: 30%; background-color: blue;">

                        </div>
                        <div class="col-12" style="height: 70%; background-color: red;">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: black;">
                        <div class="col-12" style="height: 30%; background-color: blue;">

                        </div>
                        <div class="col-12" style="height: 70%; background-color: red;">

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: black;">
                        <div class="col-12" style="height: 30%; background-color: blue;">

                        </div>
                        <div class="col-12" style="height: 70%; background-color: red;">

                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Products Area -->

        <!-- Start Partner Area -->
        <div class="partner-area pt-100 pb-70 pt-0-res">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">شرکای ارزشمند ما</span>
                </div>
                
                <div class="partner-slides owl-carousel owl-theme">
                    <div class="single-partner-item">
                        <a href="#" class="d-block"><img src="{% static 'arrowpad/img/partner-img1.png' %}" alt="image"></a>
                    </div>

                    <div class="single-partner-item">
                        <a href="#" class="d-block"><img src="{% static 'arrowpad/img/partner-img2.png' %}" alt="image"></a>
                    </div>

                    <div class="single-partner-item">
                        <a href="#" class="d-block"><img src="{% static 'arrowpad/img/partner-img3.png' %}" alt="image"></a>
                    </div>

                    <div class="single-partner-item">
                        <a href="#" class="d-block"><img src="{% static 'arrowpad/img/partner-img4.png' %}" alt="image"></a>
                    </div>

                    <div class="single-partner-item">
                        <a href="#" class="d-block"><img src="{% static 'arrowpad/img/partner-img5.png' %}" alt="image"></a>
                    </div>
                </div>
            </div>

            <div class="partner-shape1"><img src="{% static 'arrowpad/img/partner-shape.png' %}" alt="image"></div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Subscribe Area -->
        <section class="subscribe-area">
            <div class="container">
                <div class="subscribe-inner ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
                    <span class="sub-title">دریافت بروزرسانی ها</span>
                    <h2>خبرنامه زلدا</h2>
                    <form class="newsletter-form" data-toggle="validator">
                        <label><i class="flaticon-null-1"></i></label>
                        <input type="text" class="input-newsletter" placeholder="آدرس ایمیل شما" name="EMAIL" required autocomplete="off">
                        <button type="submit" class="default-btn">مشترک شدن</button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Subscribe Area -->

        <!-- Start Social Area -->
        <section class="social-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">رسمی</span>
                    <h2>در ارتباط باشید</h2>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-twitch'></i>
                                تویچ
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape2.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-facebook'></i>
                                فیسبوک
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape3.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-twitter'></i>
                                توئیتر
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape4.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-youtube'></i>
                                یوتیوب
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape5.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-instagram'></i>
                                اینستاگرام
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape6.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-vimeo'></i>
                                ویمئو
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape7.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Social Area -->

        <!-- Start Footer Area -->
        <footer class="footer-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="index-3.html" class="logo">
                                <img src="{% static 'arrowpad/img/logo.png' %}" alt="logo">
                            </a>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>کاوش کنید</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">مطالعات موردی</a></li>
                                <li><a href="#">وبلاگ ما</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-3">
                            <h3>منابع</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">مطالعات موردی</a></li>
                                <li><a href="#">وبلاگ ما</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-3">
                            <h3>آدرس</h3>

                            <ul class="footer-contact-info">
                                <li><i class='bx bx-map'></i>ایران ، استان تهران ، میدان آزادی ، خیابان 9 شرقی</li>
                                <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">021-12345678</a></li>
                                <li><i class='bx bx-envelope'></i><a href="mailto:hello@zelda.com">hello@zelda.com</a></li>
                                <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">021-12345678</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                    
                </div>

                <div class="footer-bottom-area">
                    <div class="row align-items-center">
                        <div class="col-12 text-center">
                            <small class="text-center">2024 - arrowpad</small>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="footer-map"><img src="{% static 'arrowpad/img/footer-map.png' %}" alt="image"></div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <div class="zelda-cursor"></div>
        <div class="zelda-cursor2"></div>

        <!-- Links of JS files -->
        <script src="{% static 'arrowpad/js/jquery.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/popper.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/magnific-popup.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/parallax.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/meanmenu.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/cursor.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/fancybox.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/wow.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/form-validator.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/contact-form-script.js' %}"></script>
        <script src="{% static 'arrowpad/js/ajaxchimp.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/main.js' %}"></script>
    </body>
</html>