{% load static %}

<!doctype html>
<html lang="fa">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="{% block meta_keyword %} {% endblock meta_keyword %}" >
        <meta name="description" content="{% block meta_description %}  {% endblock meta_description %}">
        <meta name="author" content="{% block meta_author %} arrowpad {% endblock meta_author %}">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'arrowpad/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/boxicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/meanmenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'arrowpad/css/rtl.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


        <link rel="icon" type="image/png" href="{% static 'arrowpad/img/arrowpadlogo.png' %}">
    
        {% block head %}
            
        {% endblock head %}

        <title> {% block meta_title %}  {% endblock %} </title>

    </head>

    <body>

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-style-two">
            <div class="zelda-responsive-nav">
                <div class="container">
                    <div class="zelda-responsive-menu">
                        <div class="logo">
                            <a href="{% url 'landing_page' %}">
                                <img height="50px" src="{% static 'arrowpad/img/arrowpadlogo.png' %}" alt="arrowpad logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="zelda-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="{% url 'landing_page' %}">
                            <img src="{% static 'arrowpad/img/arrowpadlogo.png' %}" alt="arrowpad logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="{% url 'landing_page' %}" class="nav-link"> خانه </a></li>
                                {% for category in categories  %}
                                    <li class="nav-item"><a href="/{{category.url}}" class="nav-link"> {{category.title}} </a></li>
                                {% endfor %}
                            </ul>

                            <div class="others-option d-flex align-items-center">

                                <div class="option-item">
                                    <div class="search-box">
                                        <i class="flaticon-search-1"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option">
                                <div class="option-item">
                                    <div class="cart-btn">
                                        <a href="#">
                                            <i class="flaticon-null-5"></i>
                                            <span>1</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="search-box">
                                        <i class="flaticon-search-1"></i>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <div class="side-menu-btn">
                                        <i class="flaticon-null-2" data-toggle="modal" data-target="#sidebarModal"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Sidebar Modal -->
        <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class='bx bx-x'></i></button>

                    <div class="modal-body">
                        <div class="logo">
                            <a href="index-2.html" class="d-inline-block"><img src="{% static 'arrowpad/img/logo.png' %}" alt="image"></a>
                        </div>

                        <div class="instagram-list">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member1.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member2.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member3.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member4.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member5.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="box">
                                        <img src="{% static 'arrowpad/img/team-member6.jpg' %}" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar-contact-info">
                            <h2>
                                <a href="tel:021-12345678">021-12345678</a>
                                <span>یا</span>
                                <a href="mailto:hello@zelda.com">hello@zelda.com</a>
                            </h2>
                        </div>

                        <ul class="social-list">
                            <li><span>ما را دنبال کنید:</span></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="جستجو ...">
                            <button type="submit"><i class="flaticon-search-1"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->
        {% block content %}
        {% endblock content %}


        <div class="footer-area-bg-image">

            <!-- Start Subscribe Area -->
            <section class="subscribe-area">
                <div class="container">
                    <div class="subscribe-inner ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
                        <span class="sub-title">دریافت بروزرسانی ها</span>
                    <h2>خبرنامه اروپد</h2>
                    <form class="newsletter-form" data-toggle="validator">
                        <label><i class="flaticon-null-1"></i></label>
                        <input type="text" class="input-newsletter" placeholder="آدرس ایمیل شما" name="EMAIL" required autocomplete="off">
                        <button type="submit" class="default-btn">مشترک شدن</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- End Subscribe Area -->

            <!-- Start Social Area -->
            <section class="social-area pt-100 pb-70">
                <div class="container">
                    <div class="section-title">
                        <span class="sub-title">رسمی</span>
                    <h2>در ارتباط باشید</h2>
                </div>

                <div class="row d-flex justify-content-center">
                    

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-youtube'></i>
                                یوتیوب
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape5.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-instagram'></i>
                                اینستاگرام
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape6.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4 col-md-4 col-6">
                        <div class="single-social-box">
                            <div class="content">
                                <i class='bx bxl-vimeo'></i>
                                آپارات
                            </div>
                            <div class="shape">
                                <img src="{% static 'arrowpad/img/social-shape1.png' %}" alt="image">
                                <img src="{% static 'arrowpad/img/social-shape7.png' %}" alt="image">
                            </div>
                            <a href="#" target="_blank" class="link-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        <!-- End Social Area -->

        <!-- Start Footer Area -->
        <footer class="footer-style-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="index-3.html" class="logo">
                                <img height="200px" width="200px" src="{% static 'arrowpad/img/arrowpadlogo.png' %}" alt="arrowpad logo">
                            </a>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>کاوش کنید</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">مطالعات موردی</a></li>
                                <li><a href="#">وبلاگ ما</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-3">
                            <h3>منابع</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">مطالعات موردی</a></li>
                                <li><a href="#">وبلاگ ما</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-3">
                            <h3>آدرس</h3>

                            <ul class="footer-contact-info">
                                <li><i class='bx bx-map'></i>ایران ، استان تهران ، دروازه دولت</li>
                                <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">021-12345678</a></li>
                                <li><i class='bx bx-envelope'></i><a href="mailto:info@arrowpad.com">info@arrowpad.com</a></li>
                                <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">021-12345678</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom-area text-center" style="direction: ltr;">
                    @arrowpad-2024
                </div>

            <div class="footer-map"><img src="{% static 'arrowpad/img/footer-map.png' %}" alt="image"></div>
        </footer>
            <!-- End Footer Area -->

        </div>

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <div class="zelda-cursor"></div>
        <div class="zelda-cursor2"></div>

        <!-- Links of JS files -->
        <script src="{% static 'arrowpad/js/jquery.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/popper.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/magnific-popup.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/parallax.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/meanmenu.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/cursor.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/fancybox.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/wow.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/form-validator.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/contact-form-script.js' %}"></script>
        <script src="{% static 'arrowpad/js/ajaxchimp.min.js' %}"></script>
        <script src="{% static 'arrowpad/js/main.js' %}"></script>
    
        {% block scripts %}
        
        {% endblock scripts %}

    </body>
</html>