{% extends 'arrowpad/masterpage.html' %}
{% load static %}

{% block content %}
    <!-- Start Page Title Area -->
    <section class="page-title-area page-title-bg1">
        <div class="container">
            <div class="page-title-content">
                <h1 title="وبلاگ جداگانه">وبلاگ جداگانه</h1>
            </div>
        </div>
    </section>
    <!-- End Page Title Area -->

    <!-- Start Blog Details Area -->
    <section class="blog-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details-desc">
                        <div class="article-image">
                            <img src="{% static 'arrowpad/img/main-blog-img1.jpg' %}" alt="image">
                        </div>

                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <i class='bx bx-folder-open'></i>
                                        <span>دسته</span>
                                        <a href="#">مد</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-group'></i>
                                        <span>بازدید</span>
                                        <a href="#">813,454</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-calendar'></i>
                                        <span>ارسال در</span>
                                        <a href="#">98/02/25</a>
                                    </li>
                                </ul>
                            </div>

                            <h3>زلدا برای دهمین سالگرد خود به بزرگترین رویداد می آید</h3>

                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <blockquote class="wp-block-quote">
                                <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                                <cite>تام کروز</cite>
                            </blockquote>

                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="{% static 'arrowpad/img/main-blog-img2.jpg' %}" alt="image">
                                    </figure>
                                </li>

                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="{% static 'arrowpad/img/main-blog-img3.jpg' %}" alt="image">
                                    </figure>
                                </li>

                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="{% static 'arrowpad/img/main-blog-img4.jpg' %}" alt="image">
                                    </figure>
                                </li>
                            </ul>

                            <h3>چهار عنصر اصلی که ما ارائه می دهیم:</h3>

                            <ul class="features-list">
                                <li><i class='bx bx-badge-check'></i> مهارت های علمی برای گرفتن نتیجه بهتر</li>
                                <li><i class='bx bx-badge-check'></i> مهارت های ارتباطی برای برقراری</li>
                                <li><i class='bx bx-badge-check'></i> یک فرصت مروری شغلی در دسترس است</li>
                                <li><i class='bx bx-badge-check'></i> یک محیط مناسب برای کار</li>
                            </ul>

                            <h3>مهارت های علمی برتر</h3>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>

                            <h3>مهارت های کاربردی برتر</h3>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                        </div>

                        <div class="article-footer">
                            <div class="article-tags">
                                <span><i class='bx bx-purchase-tag'></i></span>
                                <a href="#">مد</a>,
                                <a href="#">بازی</a>,
                                <a href="#">سفر</a>
                            </div>

                            <div class="article-share">
                                <ul class="social">
                                    <li><span>اشتراک گذاری:</span></li>
                                    <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                    <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="article-author">
                            <div class="author-profile-header"></div>
                            <div class="author-profile">
                                <div class="author-profile-title">
                                    <img src="{% static 'arrowpad/img/user1.jpg' %}" class="shadow-sm" alt="image">
                                    <h4>کریس اورگیگ</h4>
                                    <span class="d-block">عکاس, نویسنده, نقاش</span>
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </div>
                        </div>

                        <div class="zelda-post-navigation">
                            <div class="prev-link-wrapper">
                                <div class="info-prev-link-wrapper">
                                    <a href="#">
                                        <span class="image-prev">
                                            <img src="{% static 'arrowpad/img/main-blog-img1.jpg' %}" alt="image">
                                            <span class="post-nav-title">قبلی</span>
                                        </span>
    
                                        <span class="prev-link-info-wrapper">
                                            <span class="prev-title">مهارت های کاربردی در برنامه نویسی اندروید</span>
                                            <span class="meta-wrapper">
                                                <span class="date-post">21 دی 1398</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
    
                            <div class="next-link-wrapper">
                                <div class="info-next-link-wrapper">
                                    <a href="#">
                                        <span class="next-link-info-wrapper">
                                            <span class="next-title">مهارت های کاربردی در برنامه نویسی اندروید</span>
                                            <span class="meta-wrapper">
                                                <span class="date-post">21 دی 1398</span>
                                            </span>
                                        </span>
    
                                        <span class="image-next">
                                            <img src="{% static 'arrowpad/img/main-blog-img2.jpg' %}" alt="image">
                                            <span class="post-nav-title">بعدی</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="comments-area">
                            <h3 class="comments-title">2 نظر:</h3>

                            <ol class="comment-list">
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="{% static 'arrowpad/img/user1.jpg' %}" class="avatar" alt="image">
                                                <b class="fn">جان جونز</b>
                                                <span class="says">می گوید:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <span>24 دی 1398 در 10:59 صبح</span>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </article>

                                    <ol class="children">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="{% static 'arrowpad/img/user2.jpg' %}" class="avatar" alt="image">
                                                        <b class="fn">جان جونز</b>
                                                <span class="says">می گوید:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <span>24 دی 1398 در 10:59 صبح</span>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                                </div>
                                            </article>

                                            <ol class="children">
                                                <li class="comment">
                                                    <article class="comment-body">
                                                        <footer class="comment-meta">
                                                            <div class="comment-author vcard">
                                                                <img src="{% static 'arrowpad/img/user3.jpg' %}" class="avatar" alt="image">
                                                                <b class="fn">جان جونز</b>
                                                <span class="says">می گوید:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <span>24 دی 1398 در 10:59 صبح</span>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                                        </div>
                                                    </article>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>

                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="{% static 'arrowpad/img/user4.jpg' %}" class="avatar" alt="image">
                                                <b class="fn">جان جونز</b>
                                                <span class="says">می گوید:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <span>24 دی 1398 در 10:59 صبح</span>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                        </div>
                                    </article>

                                    <ol class="children">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="{% static 'arrowpad/img/user2.jpg' %}" class="avatar" alt="image">
                                                        <b class="fn">جان جونز</b>
                                                <span class="says">می گوید:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <span>24 دی 1398 در 10:59 صبح</span>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                                                </div>
                                            </article>
                                        </li>
                                    </ol>
                                </li>
                            </ol>

                            <div class="comment-respond">
                                <h3 class="comment-reply-title">نظر بدهید</h3>

                                <form class="comment-form">
                                    <p class="comment-notes">
                                        <span id="email-notes">آدرس ایمیل شما منتشر نخواهد شد.</span>
                                        قسمتهای مورد نیاز علامت گذاری شده اند 
                                        <span class="required">*</span>
                                    </p>
                                    <p class="comment-form-author">
                                        <label>نام <span class="required">*</span></label>
                                        <input type="text" id="author" placeholder="نام شما*" name="author" required="required">
                                    </p>
                                    <p class="comment-form-email">
                                        <label>ایمیل <span class="required">*</span></label>
                                        <input type="email" id="email" placeholder="ایمیل شما*" name="email" required="required">
                                    </p>
                                    <p class="comment-form-url">
                                        <label>وبسایت</label>
                                        <input type="url" id="url" placeholder="وبسایت" name="url">
                                    </p>
                                    <p class="comment-form-comment">
                                        <label>نظر</label>
                                        <textarea name="comment" id="comment" cols="45" placeholder="نظر شما ..." rows="5" maxlength="65525" required="required"></textarea>
                                    </p>
                                    <p class="comment-form-cookies-consent">
                                        <input type="checkbox" value="yes" name="wp-comment-cookies-consent" id="wp-comment-cookies-consent">
                                        <label for="wp-comment-cookies-consent">نام ، ایمیل و وب سایت من را برای دفعه بعدی که نظر می دهم در این مرورگر ذخیره کنید.</label>
                                    </p>
                                    <p class="form-submit">
                                        <input type="submit" name="submit" id="submit" class="submit" value="ارسال نظر">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area">
                        <section class="widget widget_search">
                            <h3 class="widget-title">جستجو</h3>

                            <form class="search-form">
                                <label>
                                    <span class="screen-reader-text"> جستجو در کیوسک : </span>
                                    <input type="search" class="search-field" placeholder=" جستجو در کیوسک ... ">
                                </label>
                                <button type="submit"><i class="bx bx-search-alt"></i></button>
                            </form>
                        </section>

                        <section class="widget widget_zelda_posts_thumb">
                            <h3 class="widget-title">پست های محبوب</h3>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg1" role="img"><img src="{% static 'arrowpad/img/main-blog-img1.jpg' %}" alt=""></span>
                                </a>
                                <div class="info">
                                    <span>10 دی 1398</span>
                                    <h4 class="title usmall"><a href="#">ابزارهای اندروید برای توسعه بازی های موبایل</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg1" role="img"><img src="{% static 'arrowpad/img/main-blog-img2.jpg' %}" alt=""></span>
                                </a>
                                <div class="info">
                                    <span>10 دی 1398</span>
                                    <h4 class="title usmall"><a href="#">ابزارهای اندروید برای توسعه بازی های موبایل</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg1" role="img"><img src="{% static 'arrowpad/img/main-blog-img3.jpg' %}" alt=""></span>
                                </a>
                                <div class="info">
                                    <span>10 دی 1398</span>
                                    <h4 class="title usmall"><a href="#">ابزارهای اندروید برای توسعه بازی های موبایل</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>
                        </section>

                        <section class="widget widget_categories">
                            <h3 class="widget-title">دسته بندی ها</h3>

                            <ul>
                                <li><a href="{% url 'kiosk' %}"> کیوسک <span class="post-count">(03)</span></a></li>
                                <li><a href="#"> سولز شناسی <span class="post-count">(05)</span></a></li>
                                <li><a href="#"> فکت <span class="post-count">(10)</span></a></li>
                                <li><a href="#"> میکروسکوپ <span class="post-count">(08)</span></a></li>
                            </ul>
                        </section>

                        <section class="widget widget_tag_cloud">
                            <h3 class="widget-title">برچسب های محبوب</h3>

                            <div class="tagcloud">
                                <a href="#">تجارت <span class="tag-link-count"> (3)</span></a>
                                <a href="#">طراحی <span class="tag-link-count"> (3)</span></a>
                                <a href="#">مدرن <span class="tag-link-count"> (2)</span></a>
                                <a href="#">مد <span class="tag-link-count"> (2)</span></a>
                                <a href="#">سفر <span class="tag-link-count"> (1)</span></a>
                                <a href="#">هوشمند <span class="tag-link-count"> (1)</span></a>
                                <a href="#">بازاریابی <span class="tag-link-count"> (1)</span></a>
                                <a href="#">مدها <span class="tag-link-count"> (2)</span></a>
                            </div>
                        </section>

                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Details Area -->
{% endblock content %}




{% block meta_title %}
    اروپد | Arrowpad
{% endblock meta_title %}

{% block meta_keyword %} arrowpad, اروپد - سفری به دنیای گیم به سبک ما {% endblock meta_keyword %}

{% block meta_tag %}{% endblock meta_tag %}

{% block meta_description %} اروپد | سفری به دنیای گیم به سبک ما {% endblock meta_description %}
{% block meta_author %} arrowpad {% endblock meta_author %}

{% block links %}

{% endblock links %}

{% block scripts %}

{% endblock scripts %}
        